<div>
    <h2>
        <span jhiTranslate="atmCashLoadApp.branch.home.title">Branches</span>
        <button class="btn btn-primary float-right jh-create-entity create-branch-my-suffix" [routerLink]="['/', { outlets: { popup: ['branch-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="atmCashLoadApp.branch.home.createLabel">
            Create new Branch
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="branches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="atmCashLoadApp.branch.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="atmCashLoadApp.branch.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine1"><span jhiTranslate="atmCashLoadApp.branch.addressLine1">Address Line 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine2"><span jhiTranslate="atmCashLoadApp.branch.addressLine2">Address Line 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mobileNumber"><span jhiTranslate="atmCashLoadApp.branch.mobileNumber">Mobile Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="atmCashLoadApp.branch.phoneNumber">Phone Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="atmCashLoadApp.branch.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bankId"><span jhiTranslate="atmCashLoadApp.branch.bank">Bank</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let branch of branches ;trackBy: trackId">
                <td><a [routerLink]="['../branch-my-suffix', branch.id ]">{{branch.id}}</a></td>
                <td>{{branch.name}}</td>
                <td>{{branch.code}}</td>
                <td>{{branch.addressLine1}}</td>
                <td>{{branch.addressLine2}}</td>
                <td>{{branch.mobileNumber}}</td>
                <td>{{branch.phoneNumber}}</td>
                <td>{{branch.email}}</td>
                <td>
                    <div *ngIf="branch.bankId">
                        <a [routerLink]="['../bank-my-suffix', branch.bankId  ]" >{{branch.bankId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../branch-my-suffix', branch.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'branch-my-suffix/'+ branch.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'branch-my-suffix/'+ branch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="branches && branches.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
