
<div *ngIf="company">
    <h2><span jhiTranslate="atmCashLoadApp.company.detail.title">Company</span> {{company.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="atmCashLoadApp.company.name">Name</span></dt>
        <dd>
            <span>{{company.name}}</span>
        </dd>
        <dt><span jhiTranslate="atmCashLoadApp.company.address">Address</span></dt>
        <dd>
            <span>{{company.address}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'company-my-suffix/'+ company.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
