<div>
    <h2>
        <span jhiTranslate="atmCashLoadApp.office.home.title">Offices</span>
        <button class="btn btn-primary float-right jh-create-entity create-office-my-suffix" [routerLink]="['/', { outlets: { popup: ['office-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="atmCashLoadApp.office.home.createLabel">
            Create new Office
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="offices">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="atmCashLoadApp.office.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span jhiTranslate="atmCashLoadApp.office.address">Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="atmInformationId"><span jhiTranslate="atmCashLoadApp.office.atmInformation">Atm Information</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="companyId"><span jhiTranslate="atmCashLoadApp.office.company">Company</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let office of offices ;trackBy: trackId">
                <td><a [routerLink]="['../office-my-suffix', office.id ]">{{office.id}}</a></td>
                <td>{{office.name}}</td>
                <td>{{office.address}}</td>
                <td>
                    <div *ngIf="office.atmInformationId">
                        <a [routerLink]="['../atm-information-my-suffix', office.atmInformationId  ]" >{{office.atmInformationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="office.companyId">
                        <a [routerLink]="['../company-my-suffix', office.companyId  ]" >{{office.companyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../office-my-suffix', office.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'office-my-suffix/'+ office.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'office-my-suffix/'+ office.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="offices && offices.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
